{% extends 'main.html' %}

{% block title %}Programmes{% endblock %}

{% block content %}
<div class="container add">
	<h2>Add Programmes</h2>
	<form class="row" action="{% url 'programmes' %}" method="post" id="add-programmes-form">
	  {% csrf_token %}
	  <div class="mb-3 col-6">
	    <label for="name" class="form-label">Programme Name</label>
	    <input type="text" class="form-control" id="name" required>
	  </div>
	   <div class="form-group mb-3">
	    <label for="description">Description</label>
	    <textarea class="form-control" id="description" rows="3" required></textarea>
	  </div>
	  <div class="mb-3 col-12 d-flex justify-content-center">
	  	<button type="submit" class="btn btn-primary px-5">Submit</button>
	  </div>
	</form>
</div>
<div class="container">
	<h2>Programmes</h2>
	<div id="filter">
	  <div class="input-group">
	  	  <div class="mb-3">
	  	  </div>
		  <div class="form-outline">
		    <input type="search" id="search-programme" class="form-control" />
		  </div>
		  <button type="button" class="btn btn-primary">
		    <i class="bi bi-search"></i>
		  </button>
	  </div>
	  <div class="mb-3 mt-3 col-4">
		<label for="dept-fiter" class="form-label">Department</label>
		<select class="form-select" id="dept-filter">
			<option value="Select All">Select All</option>
			{% for dept in depts %}
			<option value="{{dept}}">{{dept}}</option>
			{% endfor %}
		</select>
	  </div>
	</div>
	<table class="table">
	  <thead>
	    <tr>
	      <th scope="col">#</th>
	      <th scope="col">Name</th>
	      <th scope="col">Description</th>
	      <th scope="col">Department</th>
	      <th scope="col">Edit</th>
	      <th scope="col">Delete</th>
	    </tr>
	  </thead>
	  <tbody id="table-body-programme">
	  	{% for programme in programmes %}
	    <tr>
	      <th scope="row">{{forloop.counter}}</th>
	      <td class="name-table">{{programme.name}}</td>
	      <td>{{programme.description}}</td>
	      <td class="dept-table">{{programme.dept}}</td>
	      <td><a class="edit-programmes" href="{% url 'programme-edit' %}" data-id="{{programme.id}}"><i class="bi bi-pencil-square"></i></a></td>
	      <td><a href="{% url 'programme-delete' programme.id %}" class="delete-programmes"><i class="bi bi-trash-fill"></i></a></td>
	    </tr>
	    {% endfor %}
	  </tbody>
	</table>
	<!-- Edit Modal -->
	<div class="modal fade" id="edit-programme-modal" tabindex="-1" role="dialog" aria-labelledby="edit-programme-title" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered" role="document">
	    <div class="modal-content">
	    	<form method="post" id="edit-programme-form">
	    	  {% csrf_token %}
	    	  <input type="hidden" name="edit-programme-id" value="">
		      <div class="modal-header">
		        <h5 class="modal-title" id="edit-programme-title">Edit User</h5>
		        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close" onclick="$('#edit-programme-modal').modal('hide');">
		        </button>
		      </div>
		      <div class="modal-body row">
		        <div class="mb-3 col-6">
				  <label for="name" class="form-label">Programme Name</label>
				  <input type="text" class="form-control" id="name-edit" required>
				</div>
				<div class="form-group mb-3">
				  <label for="description">Description</label>
				  <textarea class="form-control" id="description-edit" rows="3" required></textarea>
				</div>
				<div class="mb-3 col-12">
					<label for="dept-edit" class="form-label">Department</label>
					<select class="form-select" id="dept-edit"></select>
				</div>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="$('#edit-programme-modal').modal('hide');">Close</button>
		        <button type="submit" class="btn btn-primary">Save changes</button>
		      </div>
		    </form>
	    </div>
	  </div>
	</div>
</div>
{% endblock %}