{% extends 'main.html' %}

{% block title %}Users{% endblock %}

{% block content %}
<div class="container add">
	<h2>Add Users</h2>
	<form class="row" action="{% url 'users' %}" method="post" id="add-users-form">
	  {% csrf_token %}
	  <div class="mb-3 col-6">
	    <label for="username" class="form-label">Username</label>
	    {{form1.username}}
	  </div>
	  <div class="mb-3 col-6">
	    <label for="name" class="form-label">Name</label>
	    {{form2.name}}
	  </div>
	  <div class="mb-3 col-6">
	    <label for="email" class="form-label">Email address</label>
	    {{form1.email}}
	  </div>
	  <div class="mb-3 col-6">
	    <label for="mobile" class="form-label">Mobile</label>
	    {{form2.mobile}}
	  </div>
	  <div class="mb-3 col-6">
	    <label for="age" class="form-label">Age</label>
	    {{form2.age}}
	  </div>
	  <div class="mb-3 col-6">
	  	<label for="sex" class="form-label">Sex</label>
		{{form2.sex}}
	  </div>
	  <div class="mb-3 col-6">
	  	<label for="salutation" class="form-label">Salutation</label>
		{{form2.salutation}}
	  </div>
	  <div class="mb-3 col-6">
	  	<label for="dept" class="form-label">Department</label>
		{{form2.department}}
	  </div>
	  <div class="mb-3 col-6">
	    <label for="password1" class="form-label">Password</label>
	    {{form1.password1}}
	  </div>
	  <div class="mb-3 col-6">
	    <label for="password2" class="form-label">Confirm Password</label>
	    {{form1.password2}}
	  </div>
	  <div class="mb-3 col-6">
	  	{{form2.health}}
	  	<label for="health" class="form-check-label">Health</label>
	  </div>
	  <div class="mb-3 col-12 d-flex justify-content-center">
	  	<button type="submit" class="btn btn-primary px-5">Submit</button>
	  </div>
	</form>
</div>
<div class="container">
	<h2>Users</h2>
	<div id="filter">
	  <div class="input-group">
	  	  <div class="mb-3">
	  	  </div>
		  <div class="form-outline">
		    <input type="search" id="search" class="form-control" />
		  </div>
		  <button type="button" class="btn btn-primary">
		    <i class="bi bi-search"></i>
		  </button>
	  </div>
	  <div class="mb-3 mt-3 col-4">
		<label for="dept-fiter" class="form-label">Department</label>
		<select class="form-select" id="dept-filter">
			<option value="Select All">Select All</option>
			{% for dept in depts %}
			<option value="{{dept}}">{{dept}}</option>
			{% endfor %}
		</select>
	  </div>
	</div>
	<table class="table">
	  <thead>
	    <tr>
	      <th scope="col">#</th>
	      <th scope="col">Salutation</th>
	      <th scope="col">Name</th>
	      <th scope="col">Username</th>
	      <th scope="col">Email</th>
	      <th scope="col">Mobile</th>
	      <th scope="col">Age</th>
	      <th scope="col">Sex</th>
	      <th scope="col">Health</th>
	      <th scope="col">Department</th>
	      <th scope="col">Edit</th>
	      <th scope="col">Delete</th>
	    </tr>
	  </thead>
	  <tbody id="table-body">
	  	{% for user in users %}
	    <tr>
	      <th scope="row">{{forloop.counter}}</th>
	      <td>{{user.salutation}}</td>
	      <td class="name-table">{{user.name}}</td>
	      <td>{{user.username}}</td>
	      <td>{{user.email}}</td>
	      <td>{{user.mobile}}</td>
	      <td>{{user.age}}</td>
	      <td>{{user.sex}}</td>
	      <td>{{user.health}}</td>
	      <td class="dept-table">{{user.dept}}</td>
	      <td><a class="edit-users" href="{% url 'user-edit' user.id %}"><i class="bi bi-pencil-square"></i></a></td>
	      <td><a href="{% url 'user-delete' user.id %}" class="delete-users"><i class="bi bi-trash-fill"></i></a></td>
	    </tr>
	    {% endfor %}
	  </tbody>
	</table>
	<!-- Edit Modal -->
	<div class="modal fade" id="edit-user-modal" tabindex="-1" role="dialog" aria-labelledby="edit-user-title" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered" role="document">
	    <div class="modal-content">
	    	<form method="post" id="edit-user-form">
	    	  {% csrf_token %}
		      <div class="modal-header">
		        <h5 class="modal-title" id="edit-user-title">Edit User</h5>
		        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close" onclick="$('#edit-user-modal').modal('hide');">
		        </button>
		      </div>
		      <div class="modal-body row"></div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="$('#edit-user-modal').modal('hide');">Close</button>
		        <button type="submit" class="btn btn-primary">Save changes</button>
		      </div>
		    </form>
	    </div>
	  </div>
	</div>
</div>
{% endblock %}